.main{

    background: #F1F1F1;

}

.caseStudyP{
    width: 60%;   
    margin-left: 60%;
    
}
.section{
    padding-top: 0;
    padding-bottom: 0;
}
.caseStudyH1{
margin-bottom: 0; 
}
.container{
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 2em;
}
.caseStudyImgWrap{
    width: 100%;
    height: 100vh;
    /* overflow: hidden; */
    position: relative;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.caseStudyImgWrap img{
       width: 90%;
    height: 100%;
   
    object-fit: contain;

}
.page2CaseStudy {
  width: 100%;
  min-height: 200vh;
  /* position: relative; */
  padding: 2.5em;
  background: rgb(245, 151, 151);
  display: flex;
  gap: 2em;
}
.boxWraper{
    position: sticky;
    top: 0;
}
.boxCaseStudy {
    background: blue;
  width: 40%;
  height: auto;   /* let it stretch */
  
  
}

.CaseStudyContent {
  flex: 1;
}
.page2{
    background: rgb(255, 72, 72);
}

.CaseStudyContent {
  flex: 1; 
}

.caseStudyArrow{
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
    position: relative;
    overflow: hidden;
        transition: all 0.4s cubic-bezier(0.625, 0.05, 0, 1);

}
.caseStudyArrow::after{
    content: "";
    
    width: 50px;
    height: 50px;
    background: rgb(255, 255, 255);
    
    position: absolute;
    /* border-radius: 100%; */
    top: 20%;
    right: 10%;
    transform: scale(0);
        transition: all 0.4s cubic-bezier(0.625, 0.05, 0, 1);

}
.caseStudyArrow:hover::after{
    transform: scale(1.8);
    z-index: 1;
        border-radius: 100%;
}

.caseStudyArrow svg {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); /* center baseline */
  transition: all 0.5s cubic-bezier(0.625, 0.05, 0, 1);
}


.caseStudyArrow svg{
    width: 20px;
    z-index: 10;
    height: 20px;
        transition: all 0.4s cubic-bezier(0.625, 0.05, 0, 1);
}
.caseStudyArrow .svg1{
    fill: #fff;
}
.caseStudyArrow .svg2{
    position: absolute;
    transform: translate(10px,10px);
    left: -25px;
    fill: greenyellow;
}
.img-wrap{
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.caseStudyArrow:hover .svg2{
    left: 50%;
    transform: translate(-50%, -50%);
        transition: all 0.4s cubic-bezier(0.625, 0.05, 0, 1);
}
.caseStudyArrow:hover .svg1{
    z-index: 10;
    top: -10%;
    left: 30px;
        transition: all 0.4s cubic-bezier(0.625, 0.05, 0, 1);
}
.Challenge{
    display: flex;
    align-items: center;
    gap: 1em;
    font-size: 1.2em;
    background: #fff;
    padding: 0.2em 0;
    font-weight: 600;
}
.page2CaseStudy{
    display: flex;
    justify-content: space-between;
    height: 100vh;
    width: 100%;
}
.CaseStudyContent{
    width: 50%;
}
#target-element{
    width: 100%;
    height: 199vh;
}
#container{
    width: 100%;
     height: 199vh;
    overflow: hidden;
}
.page2{
    width: 100%;
    min-height: 100vh;
    height: 100vh;
  
}

.caseStudyContnet{
    width: 100%;
    min-height: 100vh;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    margin-top: 4em;
    align-items: center;
    /* justify-content: center; */
}
.caseStudyContnetP {
    width: 60%;
}
.caseStudyContnetP p{
    font-size: 18px;
    line-height: 1.5em;
}
.caseStudyContnetMain{
    padding-top: 3.5em;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}
@media screen and (max-width: 500px) {
    .caseStudyContnetMain{
    padding-top: 2em;
    }
    .img-wrap{
        width: 100%;
        height:40vh;
    }
.caseStudyContnetP {
    width: 100%;
           padding-left: var(--container-padding);
        padding-right: var(--container-padding);
}
.caseStudyContnetP p {
    font-size: 1em;
    line-height: 1.5em;
}
    .caseStudyP{
        width: 100%;
        margin-left: 0%;   
    }   
    .caseStudyImgWrap{
        position: relative;
        /* background: red; */
        height: 100%;
    }
    .caseStudyImg img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
}
    
    .caseStudyImg {
    width: 100%;
    height: 100%;
    margin-top: 0em;
    display: block;
}
}
